html,
body,
#__next {
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
}

#__next .ant-carousel .slick-vertical .slick-slide {
  border: none;
}

.imp-dialog {
  display: none;
}

.imp-dialog iframe {
  width: 420px;
  height: 600px;
}
