html,
body,
#__next {
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
}

#__next .ant-carousel .slick-vertical .slick-slide {
  border: none;
}

.imp-dialog {
  display: none;
}

.imp-dialog iframe {
  z-index: 2000;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
}
